@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url("./reset.css");
@import url("./typography.css");
@import url('./styles.css');

.fields {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}

.field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.field-img{
    width: 650px;
    height: 400px;
    overflow: hidden;
}

.field-img img {
    width: 100%;
}

.field-data{
    flex-basis: 50%;
}

table {
    width: 100%;
}

tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

tr:hover {
    background-color: lightgray;
}

.element-heading {
    width: 28%;
}

td span {
    color: #333;
    font-weight: bold;
    padding: 8px;
}

td p, td a {
    color: #333;
    padding: 1em 0;
    text-align: center;
    letter-spacing: 1px;
}

td a p:hover{
    color: #FB5104;
    transition: 300ms ease-in-out;
}