@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url("./reset.css");
@import url("./typography.css");
@import url('./styles.css');

.registration {
    padding: 40px 80px;
    display: flex;
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 55%;
}

.field-wrapper,
.registration-wrapper {
    margin-bottom: 1rem;
}

.registration-form label {
    display: block;
    margin-bottom: 1em;
}

.registration-wrapper {
    display: flex;
    justify-content: space-between;
}

.first-name-wrapper,
.last-name-wrapper,
.postcode-wrapper,
.city-wrapper,
.phone-wrapper,
.email-wrapper {
    flex-basis: 49%;
}

#first-name,
#last-name,
#postcode,
#city,
#phone,
#email {
    padding: 0.7rem 2rem 0.7rem 1rem;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #333333;
    width: 100%;
    display: block;
}

.field-wrapper input {
    padding: 0.7rem 2rem 1rem 1em;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #333333;
    width: 100%;
}

.registration-login-data p {
    font-size: 14px;
    font-style: italic;
    color: rgb(184, 184, 184);
}

#username,
#password {
    margin-bottom: 5px;
}

.submit-btn {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    font-weight: 800;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #FB5104;
    transition: 300ms ease-in-out;
}

.invalid {
    border: 1px solid rgb(235, 27, 27);
}