@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");
@import url("./reset.css");
@import url("./typography.css");

:root{
    --color-green: #464E1B;
    --color-dusty-grey: #7E6E4E;
    --color-ochra: #AB5E00;
}

/* Navigation */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #4B5320 0%, #3C4411 100%);
    padding: 15px 80px;
}

.nav section{
    display: flex;
    align-items: center;
}

.nav section button{
    margin-left: 14px;
}

.catalog-btn{
    padding: 10px 14px 10px 8px;
    background-color: #7E6E4E;
    font-size: 16px;
    border-radius: 2px;
    word-spacing: 3rem;
    border: none;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu li{
    padding: 15px;
}

.nav-menu li a:hover{
    color: #7E6E4E;
    transition: 300ms ease-in-out;
}

.nav-logo{
    width: 60px;
}

.nav-logo img{
    width: 100%;
}

.nav-catalog{
    position: absolute;
    margin-top: 327px;
    margin-left: 74px;
    z-index: 12;
    display: none;
}

.catalog-menu{
    position: relative;
    background-color: #AB5E00;
    width: 280px;
    padding: 5px 0;
}

.catalog-menu li{
    padding: 5px 15px;
    display: flex;
    border-bottom: 1px solid #464E1B;
}

.catalog-menu li:last-child{
    border-bottom: none;
}

.catalog-menu li a{
    padding: 10px 0;
    display: block;
    position: relative;
    font-weight: 700;
}

.catalog-menu li img{
    margin-right: 10px;
    border-radius: 3px;
    opacity: .7;
    transition: opacity .2s ease;
    width: 100%;
    max-width: 35px;
}

.catalog-menu li:hover > ul{
    visibility: visible;
}

.sub-menu{
    width: 280px;
    position: absolute;
    left: 100%;
    min-height: 100%;
    visibility: hidden;
    top: 0;
}

.sub-menu li{
    background-color: #7E6E4E;
    padding: 0 15px;
    border-bottom: 1px solid #464E1B;
}

.sub-menu li a{
    padding: 12px;
    display: block;
    position: relative;
}

/* INTRO */
.field-images{
    width: 100%;
    height: 70vh;
    position: relative;
    margin: auto;
}

.field-image{
    display: none;
}

.field-image img{
    width: 100%;
    object-fit: cover;
    max-height: 70vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.intro-content{
    text-align: center;
    padding: 60px;
}

.intro-content-heading{
    margin-bottom: 10px;
}

.intro-content-text{
    line-height: 1.6;
    font-size: 20px;
}

.intro-content-text strong{
    font-weight: bold;
}

.intro-content-text a{
    text-decoration: underline;
}

.intro-first{
    background-color: #A7A5A4;
}

.intro-second{
    background-color: var(--color-dusty-grey);
}

/* OFFERS */

.offers{
    background-color: #A7A5A4;
    display: flex;
    padding: 80px 130px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.offer{
    margin: 0 auto;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0px 2px 9px 1px var(--color-green);
    padding: 0px 0px 20px 0px;
    border-radius: 4px;
    overflow: hidden;
    filter: brightness(50%);
}

.offer:hover{
    filter: brightness(100%);
    transition: 300ms ease-in-out;
}

.offer-img{
    margin-bottom: 10px;
    max-height: 371px;
}

.offer-img img{
    width: 100%;
    height: 100%;
}


.offer-heading{
    color: #3A3A3A;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.offer-text{
    font-size: 18px;
    color: var(--color-green);
    margin-bottom: 30px;
}

.offer-btn{
    padding: 10px 30px;
    background-color: red;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}